<!--Nav Bar-->
<div class="sticky">
    <div class="header">
        <div class="logo">
            <img src='{{"img/fscilogoheader.svg" | absURL }}' alt="fsci" />
            <h2>{{i18n "fsci-acronym"}}</h2>
        </div>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn" style="align-items:center;">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="menu">
            <a href="{{.Site.BaseURL}}">{{ i18n "home" }}</a>
            <!-- <a href='{{"about" | absURL}}'>About</a> -->
            <a href='{{.Site.BaseURL}}#poddery'>{{ i18n "poddery" }}</a>
            <a href='{{.Site.BaseURL}}#otherservices'>{{ i18n "services" }}</a>
            <a href='{{"blog" | absURL}}'>{{ i18n "blog" }}</a>
            <a href='{{"blog/index.xml" | absURL}}'><span class="fas fa-rss"></span></a>
            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
</div>
